@import '../../../styles/global';

header {
    padding-top: 3em;
    background-color: map-get($colors, bkgPrimary);
    background-image: url('./banner.jpeg');
    background-size: auto 100%;
        background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .vMidWrapper {
        h1, h2 {
            text-align: center;
            display: block;
            width: 100%;
            margin-bottom: 0.5em;
        }
    
        h1 {
            font-weight: 2em;
            font-size: 4em;
        }
    
        h2 {
            max-width: 50%;
            margin: auto;
            font-weight: normal;
            font-size: 1.25em;
        }

        a {
            font-weight: bold;
            display: block;
            padding: 1em;
            margin: 1em auto;
            text-decoration: none;
            text-align: center;
            max-width: 50%;
            font-size: 1em;
        }

        .btnWrapper {
            margin: auto;
            padding: 2em;
            text-align: center;

            .learnBtn, .hireBtn {
                display: inline-block;
            }
            
            .learnBtn {
                color: map-get($colors, txtSecondary);
                background-color: map-get($colors, primary);
                &:hover {
                    background-color: map-get($colors, secondary);
                }
                margin-right: 2em;
            }
    
            .hireBtn {
                background-color: map-get($colors, bkgPrimary);
                color: map-get($colors, txtPrimary);
                &:hover {
                    background-color: map-get($colors, bkgSecondary);
                }
            }
        }
    }  
}

@media only screen and (max-width: 768px) {
    header {
        
        .vMidWrapper {
            .btnWrapper {
                .learnBtn, .hireBtn {
                    display: block !important;
                    margin: 0 auto 2em auto;
                }
            }
        }
    }
}