$colors: (
    primaryText: white,
    secondaryText: black,
    primaryColor: #171F34,
    bkgPrimaryColor:  #343635,
    bkgSecondaryColor: #4D504E
);
// map-get($colors, primaryText)

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}